:root {
    --white-hsl: 0, 0%, 100%;
    --black-hsl: 0, 0%, 25.1%;
    --safeLightAccent-hsl: 224, 15.46%, 80.98%;
    --safeDarkAccent-hsl: 0, 0%, 0%;
    --safeInverseAccent-hsl: 0, 0%, 0%;
    --safeInverseLightAccent-hsl: 0, 0%, 0%;
    --safeInverseDarkAccent-hsl: 0, 0%, 100%;
    --accent-hsl: 224, 15.46%, 80.98%;
    --lightAccent-hsl: 223.64, 17.19%, 74.9%;
    --darkAccent-hsl: 229.41, 7.91%, 42.16%;

    --announcement-bar-background-color: hsla(var(--safeInverseAccent-hsl), 1);
    --announcement-bar-text-color: hsla(var(--accent-hsl), 1);
    --backgroundOverlayColor: hsla(var(--accent-hsl), 1);
    --course-item-nav-active-lesson-background-color: hsla(
        var(--lightAccent-hsl),
        1
    );
    --course-item-nav-active-lesson-text-color: hsla(
        var(--safeInverseLightAccent-hsl),
        1
    );
    --course-item-nav-background-color: hsla(var(--black-hsl), 1);
    --course-item-nav-border-color: hsla(var(--white-hsl), 0.25);
    --course-item-nav-open-tab-background-color: hsla(var(--black-hsl), 0.75);
    --course-item-nav-open-tab-text-color: hsla(var(--white-hsl), 1);
    --course-item-nav-text-color: hsla(var(--white-hsl), 1);
    --course-list-course-item-background: hsla(var(--safeInverseAccent-hsl), 1);
    --course-list-course-item-hover-background: hsla(
        var(--safeInverseAccent-hsl),
        0.9
    );
    --course-list-course-item-text-color: hsla(var(--accent-hsl), 1);
    --course-list-course-progress-bar-color: hsla(var(--darkAccent-hsl), 1);
    --gradientHeaderBackgroundColor: hsla(var(--white-hsl), 1);
    --gradientHeaderBorderColor: hsla(var(--black-hsl), 1);
    --gradientHeaderDropShadowColor: hsla(var(--black-hsl), 1);
    --gradientHeaderNavigationColor: hsla(var(--black-hsl), 1);
    --headingExtraLargeColor: hsla(var(--safeInverseAccent-hsl), 1);
    --headingLargeColor: hsla(var(--safeInverseAccent-hsl), 1);
    --headingLinkColor: hsla(var(--safeInverseAccent-hsl), 1);
    --headingMediumColor: hsla(var(--safeInverseAccent-hsl), 1);
    --headingSmallColor: hsla(var(--safeInverseAccent-hsl), 1);
    --image-block-card-image-button-bg-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-card-image-button-text-color: hsla(var(--accent-hsl), 1);
    --image-block-card-image-overlay-color: hsla(var(--darkAccent-hsl), 0);
    --image-block-card-image-subtitle-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-card-image-title-bg-color: hsla(var(--accent-hsl), 0);
    --image-block-card-image-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --image-block-card-inline-link-color: hsla(var(--safeInverseAccent-hsl), 1);
    --image-block-collage-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-collage-image-button-bg-color: hsla(var(--accent-hsl), 1);
    --image-block-collage-image-button-text-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-collage-image-overlay-color: hsla(var(--darkAccent-hsl), 0);
    --image-block-collage-image-subtitle-color: hsla(var(--accent-hsl), 1);
    --image-block-collage-image-title-bg-color: hsla(var(--accent-hsl), 0);
    --image-block-collage-image-title-color: hsla(var(--accent-hsl), 1);
    --image-block-collage-inline-link-color: hsla(var(--accent-hsl), 1);
    --image-block-overlap-image-button-bg-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-overlap-image-button-text-color: hsla(var(--accent-hsl), 1);
    --image-block-overlap-image-overlay-color: hsla(var(--darkAccent-hsl), 0);
    --image-block-overlap-image-subtitle-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-overlap-image-title-bg-color: hsla(var(--accent-hsl), 1);
    --image-block-overlap-image-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-overlap-inline-link-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-overlay-color: hsla(var(--black-hsl), 0.5);
    --image-block-poster-image-button-bg-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-poster-image-button-text-color: hsla(var(--accent-hsl), 1);
    --image-block-poster-image-overlay-color: hsla(var(--darkAccent-hsl), 0);
    --image-block-poster-image-subtitle-color: hsla(var(--white-hsl), 1);
    --image-block-poster-image-title-bg-color-v2: hsla(var(--accent-hsl), 0);
    --image-block-poster-image-title-color: hsla(var(--white-hsl), 1);
    --image-block-poster-inline-link-color: hsla(var(--white-hsl), 1);
    --image-block-stack-image-button-bg-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-stack-image-button-text-color: hsla(var(--accent-hsl), 1);
    --image-block-stack-image-overlay-color: hsla(var(--darkAccent-hsl), 0);
    --image-block-stack-image-subtitle-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-stack-image-title-bg-color: hsla(var(--accent-hsl), 0);
    --image-block-stack-image-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --image-block-stack-inline-link-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-banner-slideshow-arrow-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-banner-slideshow-arrow-color: hsla(var(--accent-hsl), 1);
    --list-section-banner-slideshow-button-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-banner-slideshow-button-text-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-banner-slideshow-card-button-background-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-banner-slideshow-card-button-text-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-banner-slideshow-card-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-banner-slideshow-card-description-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-banner-slideshow-card-description-link-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-banner-slideshow-card-title-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-banner-slideshow-description-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-banner-slideshow-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-carousel-arrow-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-carousel-arrow-color: hsla(var(--accent-hsl), 1);
    --list-section-carousel-button-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-carousel-button-text-color: hsla(var(--accent-hsl), 1);
    --list-section-carousel-card-button-background-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-carousel-card-button-text-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-carousel-card-color: hsla(var(--safeInverseAccent-hsl), 1);
    --list-section-carousel-card-description-color: hsla(var(--accent-hsl), 1);
    --list-section-carousel-card-description-link-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-carousel-card-title-color: hsla(var(--accent-hsl), 1);
    --list-section-carousel-description-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-carousel-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --list-section-simple-button-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-simple-button-text-color: hsla(var(--accent-hsl), 1);
    --list-section-simple-card-button-background-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-simple-card-button-text-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-simple-card-color: hsla(var(--safeInverseAccent-hsl), 1);
    --list-section-simple-card-description-color: hsla(var(--accent-hsl), 1);
    --list-section-simple-card-description-link-color: hsla(
        var(--accent-hsl),
        1
    );
    --list-section-simple-card-title-color: hsla(var(--accent-hsl), 1);
    --list-section-simple-description-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --list-section-simple-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --list-section-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --menuOverlayBackgroundColor: hsla(var(--accent-hsl), 1);
    --menuOverlayButtonBackgroundColor: hsla(var(--safeInverseAccent-hsl), 1);
    --menuOverlayButtonTextColor: hsla(var(--accent-hsl), 1);
    --menuOverlayNavigationLinkColor: hsla(
        41.067961165048544,
        93.63636363636365%,
        56.86274509803921%,
        1
    );
    --navigationLinkColor: hsla(0, 0%, 100%, 1);
    --paragraphLargeColor: hsla(var(--safeInverseAccent-hsl), 1);
    --paragraphLinkColor: hsla(var(--safeInverseAccent-hsl), 1);
    --paragraphMediumColor: hsla(var(--safeInverseAccent-hsl), 1);
    --paragraphSmallColor: hsla(var(--safeInverseAccent-hsl), 1);
    --portfolio-grid-basic-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --portfolio-grid-overlay-overlay-color: hsla(var(--accent-hsl), 0);
    --portfolio-grid-overlay-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --portfolio-hover-follow-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --portfolio-hover-static-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --portfolio-index-background-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --primaryButtonBackgroundColor: hsla(var(--safeInverseAccent-hsl), 1);
    --primaryButtonTextColor: hsla(0, 0%, 100%, 1);
    --secondaryButtonBackgroundColor: hsla(var(--safeInverseAccent-hsl), 1);
    --secondaryButtonTextColor: hsla(0, 0%, 100%, 1);
    --section-inset-border-color: hsla(var(--white-hsl), 1);
    --shape-block-background-color: hsla(var(--safeInverseAccent-hsl), 1);
    --shape-block-dropshadow-color: hsla(var(--safeInverseAccent-hsl), 1);
    --siteBackgroundColor: hsla(var(--accent-hsl), 1);
    --siteTitleColor: hsla(0, 0%, 100%, 1);
    --social-links-block-main-icon-color: hsla(var(--safeInverseAccent-hsl), 1);
    --social-links-block-secondary-icon-color: hsla(var(--accent-hsl), 1);
    --solidHeaderBackgroundColor: hsla(var(--white-hsl), 1);
    --solidHeaderBorderColor: hsla(var(--black-hsl), 1);
    --solidHeaderDropShadowColor: hsla(var(--black-hsl), 1);
    --solidHeaderNavigationColor: hsla(var(--black-hsl), 1);
    --summary-block-limited-availability-label-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tertiaryButtonBackgroundColor: hsla(var(--safeInverseAccent-hsl), 1);
    --tertiaryButtonTextColor: hsla(0, 0%, 100%, 1);
    --text-highlight-color: hsla(var(--safeInverseAccent-hsl), 1);
    --text-highlight-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-accordion-block-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-accordion-block-divider-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-accordion-block-divider-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-accordion-block-icon-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-accordion-block-icon-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-blog-alternating-side-by-side-list-excerpt-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-alternating-side-by-side-list-meta-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-alternating-side-by-side-list-read-more-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-alternating-side-by-side-list-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-basic-grid-list-excerpt-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-basic-grid-list-meta-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-basic-grid-list-read-more-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-basic-grid-list-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-item-author-profile-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-item-comment-meta-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-blog-item-comment-text-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-blog-item-meta-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-blog-item-pagination-icon-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-item-pagination-meta-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-item-pagination-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-item-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-blog-masonry-list-excerpt-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-masonry-list-meta-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-blog-masonry-list-read-more-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-masonry-list-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-side-by-side-list-excerpt-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-side-by-side-list-meta-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-side-by-side-list-read-more-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-side-by-side-list-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-single-column-list-excerpt-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-single-column-list-meta-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-single-column-list-read-more-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-blog-single-column-list-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-content-link-block-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-events-item-pagination-date-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-events-item-pagination-icon-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-events-item-pagination-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-form-block-background-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-form-block-button-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-form-block-button-background-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-form-block-button-text-color: hsla(var(--accent-hsl), 1);
    --tweak-form-block-button-text-color-on-background: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-form-block-caption-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-form-block-caption-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-form-block-description-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-form-block-description-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-form-block-option-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-form-block-option-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-form-block-survey-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-form-block-survey-title-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-form-block-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-form-block-title-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-gallery-icon-background-color: hsla(var(--accent-hsl), 1);
    --tweak-gallery-icon-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-gallery-lightbox-background-color: hsla(var(--accent-hsl), 1);
    --tweak-gallery-lightbox-icon-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-heading-extra-large-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-heading-large-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-heading-medium-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-heading-small-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-line-block-line-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-marquee-block-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-marquee-block-heading-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-marquee-block-heading-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-marquee-block-paragraph-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-marquee-block-paragraph-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-menu-block-item-description-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-menu-block-item-price-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-menu-block-item-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-menu-block-nav-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-menu-block-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-newsletter-block-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-newsletter-block-button-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-newsletter-block-button-background-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-newsletter-block-button-text-color: hsla(var(--accent-hsl), 1);
    --tweak-newsletter-block-button-text-color-on-background: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-newsletter-block-description-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-newsletter-block-description-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-newsletter-block-footnote-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-newsletter-block-footnote-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-newsletter-block-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-newsletter-block-title-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-paragraph-large-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-paragraph-link-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-paragraph-medium-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-paragraph-small-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-portfolio-item-pagination-icon-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-portfolio-item-pagination-meta-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-portfolio-item-pagination-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-basic-item-breadcumb-nav-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-basic-item-description-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-basic-item-gallery-controls-color: hsla(
        var(--safeInverseLightAccent-hsl),
        1
    );
    --tweak-product-basic-item-price-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-basic-item-sale-price-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-basic-item-scarcity-color: hsla(var(--white-hsl), 1);
    --tweak-product-basic-item-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-basic-item-variant-fields-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-grid-text-below-list-category-nav-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-grid-text-below-list-pagination-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-grid-text-below-list-price-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-grid-text-below-list-sale-price-color: hsla(
        var(--white-hsl),
        1
    );
    --tweak-product-grid-text-below-list-scarcity-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-grid-text-below-list-status-color: hsla(
        var(--white-hsl),
        1
    );
    --tweak-product-grid-text-below-list-title-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-product-quick-view-button-color: hsla(var(--black-hsl), 1);
    --tweak-product-quick-view-lightbox-controls-color: hsla(
        var(--black-hsl),
        1
    );
    --tweak-product-quick-view-lightbox-overlay-color: hsla(
        var(--white-hsl),
        1
    );
    --tweak-quote-block-background-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-quote-block-source-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-quote-block-source-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-quote-block-text-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-quote-block-text-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-summary-block-background-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-summary-block-excerpt-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-summary-block-excerpt-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-summary-block-header-text-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-summary-block-header-text-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-summary-block-primary-metadata-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-summary-block-primary-metadata-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-summary-block-read-more-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-summary-block-read-more-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-summary-block-secondary-metadata-color: hsla(
        var(--safeInverseAccent-hsl),
        1
    );
    --tweak-summary-block-secondary-metadata-color-on-background: hsla(
        var(--accent-hsl),
        1
    );
    --tweak-summary-block-title-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-summary-block-title-color-on-background: hsla(var(--accent-hsl), 1);
    --tweak-text-block-background-color: hsla(var(--safeInverseAccent-hsl), 1);
    --tweak-video-item-description-color: hsla(var(--white-hsl), 1);
    --tweak-video-item-meta-color: hsla(var(--white-hsl), 1);
    --tweak-video-item-pagination-icon-color: hsla(var(--white-hsl), 1);
    --tweak-video-item-pagination-title-color: hsla(var(--white-hsl), 1);
    --tweak-video-item-title-color: hsla(var(--white-hsl), 1);
    --video-grid-basic-description-color: hsla(var(--white-hsl), 1);
    --video-grid-basic-meta-color: hsla(var(--white-hsl), 1);
    --video-grid-basic-title-color: hsla(var(--white-hsl), 1);
    --video-grid-category-nav-color: hsla(var(--white-hsl), 1);
}

body {
    background-color: var(--siteBackgroundColor);
    color: var(--paragraphMediumColor);
    overflow-wrap: break-word;
    margin: 0;
}

#siteWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header .header-announcement-bar-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 80px;
    pointer-events: auto;
}

.header-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
}

.header-display-desktop {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

.header-title-nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
}

.header-title {
    flex-grow: 0;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.header-title-logo {
    width: auto;
    font-size: 0;
}

.header-title-logo a {
    display: inline-block;
    max-width: 100%;
    max-height: 115px;
}

.header-title-logo img {
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: 115px;
    animation: fade-in ease 1.5s;
}

.header-layout-nav-right .header-nav {
    text-align: right;
    margin-left: auto;
    padding-left: 1.5vw;
}

.header-nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    animation: fade-in ease 1.5s;
}

.slideIn {
    position: relative;
    animation: fade-in ease 1.5s;
}

.fadeIn {
    animation: fadeInAnimation ease 3s;
}

.header-layout-nav-right .header-nav-list {
    justify-content: flex-end;
}

.header-nav-list > div {
    white-space: nowrap;
}

.header-nav-item,
.user-accounts-text-link,
.cart-style-text,
.icon-cart-quantity:not(.legacy-cart),
.language-picker {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.7em;
    font-size: 1.1rem;
}

.header-layout-nav-right .header-nav {
    text-align: right;
    margin-left: auto;
    padding-left: 1.5vw;
}

body:not(.header--menu-open) .header-nav-item--active > a {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
    background-position: 0 calc(100% - 0.1em);
}

:not(.header--menu-open) .header-nav-wrapper .header-nav-item--active a,
.header-nav-item a {
    color: var(--navigationLinkColor);
}

#header .header-nav-wrapper a,
#header .language-item a {
    text-decoration: none;
    backface-visibility: hidden;
    padding: 0.1em 0;
}

.header-layout-nav-right
    .header-nav-item:not(:first-child):not(.header-actions-action--cart) {
    margin-left: 1.7vw;
}

.header-nav-list > div {
    white-space: nowrap;
}

.background {
    background-image: url("../image/BlueGradientWallpapers.png");
    background-size: cover;
    position: fixed;
    max-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(150px);
    animation: fadeInAnimation ease 0.5s;
}

.page-section > .content-wrapper {
    box-sizing: content-box;
    position: relative;
}

.page-section:not(.full-bleed-section) > .content-wrapper {
    padding-right: 7vw;
    padding-left: 7vw;
    margin: 0 auto;
    box-sizing: content-box;
}
.content-wrapper {
    padding: 40px 80px;
    opacity: 1;
}

.site-wrapper,
.sqs-catalog-item-list {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    font-family: Poppins;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.7em;
    font-size: 1rem;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

.content a {
    color: var(--paragraphLinkColor);
}

.page-section.section-height--small:not(.content-collection):not(
        .gallery-section
    ):not(.user-items-list-section) {
    min-height: 33vh;
}

iframe {
    width: 100%;
}

h2,
h1 {
    margin-top: 0;
}

#footer-sections {
    margin-top: auto;
    position: relative;
    z-index: 0;
}

.section-border {
    height: 2px;
    width: 80%;
    margin: 0 auto;
}

:not(.has-background) .section-background {
    height: 100%;
    background-color: black;
}

.section-background {
    overflow: hidden;
    pointer-events: none;
}

footer .content {
    display: flex;
}

@supports (text-decoration-thickness: 1px) and (text-underline-offset: 0.2em) {
    .sqs-block-html a,
    .image-title-wrapper a,
    .image-subtitle-wrapper a,
    .sqs-image-caption a,
    .image-caption a,
    .sqs-block-newsletter a,
    .list-item-content__description a,
    .list-section-title a {
        background-repeat: unset;
        background-image: unset;
        background-size: unset;
        background-position: unset;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: currentColor;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.2em;
        text-decoration-skip: auto;
        text-decoration-skip-ink: auto;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        top: 20px;
    }
    50% {
        opacity: 0.3;
        top: 10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@media screen and (min-width: 768px),
    screen and (max-width: calc(1356.74px)) and (orientation: landscape) {
    h2 {
        font-size: calc((3.1 - 1) * 1.2vw + 1rem);
    }
    h1 {
        font-size: calc((4.1 - 1) * 1.2vw + 1rem);
    }
    .site-wrapper,
    .sqs-catalog-item-list {
        font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    }
    .sqsrte-small {
        font-size: calc((0.9 - 1) * 1.2vw + 1rem);
    }
}
